/* Global styling properties:values utilizing Google fonts */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

//   Variable set root toolkit contains properties:values for color styling throughout the webpage

:root {
--color-background: #fbfbfd;
--color-orange-dark: #FF8C00;
--color-orange-light: #FFA500;
--color-primary: #0d0d0d;
--color-grey-0: #f8f8f8;
--color-grey-1: #dbe1e8;
--color-grey-2: #b2becd;
--color-grey-3: #6c7983;
--color-grey-4: #454e56;
--color-grey-5: #2a2e35;
--color-grey-6: #12181b;
--color-white: #fff;
}


// Body properties:values styling parameters

body {
    background-color: var(--color-background);
    color: var(--color-grey-4);
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}

/* Global Header properties:values styling parameters*/

// Header properties:values styling parameters

header {
display: flex;
justify-content: space-between;
margin: auto;
width: 85%;
padding-bottom: 0.6rem;
border-bottom: 0.1rem solid #ff8c00;
}

// Scoreboard properties:values styling parameters

#scoreboard:hover {
    cursor: pointer;
    color: var(--color-orange-dark)
}

// Scoreboard h2 header text properties:values styling parameters

header h2 {
    padding-left: 40px;
    font-size: 2rem;
    display: inline;
}

// Scoreboard timer header text properties:values styling parameters

.countdown {
    font-size: 2.0rem;
    color: var(--color-primary);
    display: inline;
    text-align: right;
    padding-right: 40px;
}

/* Main quiz title and description section */

// Quiz title and description

.quiz-start {
    padding: 30px;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

// H1 title properties:values styling parameters

h1 {
    color: var(--color-primary);
    font-size: 3rem;
    font-weight: 800;
}

// P tag quiz description properties:values styling parameters

p {
    color: var(--color-primary);
    font-size: 2rem;
}

// Quiz Rules title properties:values styling parameters

.rules-title {
    font-size: 20px;
    align-items: left;
    text-align: left;
}

.rules-list {
    text-align: left;
}